<%- include("partials/header.ejs") -%> <%- include("partials/navbar.ejs") -%>

<div class="post">
  <div class="post-details">
    <span class="postTopic"> <%= post.topic %> </span>
    <span class="postAuthor"><%= post.author %></span>
    <span class="postDate"><%= post.date %></span>
  </div>
  <h2 class="postTitle"><%= post.postTitle %></h2>
  <% if(post.postImage != ''){ %>
  <div class="postImage">
    <img src="<%= post.postImage %>" alt="post image" class="postImage" />
  </div>
  <% } %>
  <div class="postContent">
    <p><%= post.postContent %></p>
  </div>
  <div class="bottom-buttons">
    <button class="postButton">
      Save <i class="fa-regular fa-bookmark"></i>
    </button>
  </div>
  <div class="comment-box">
    <h4>Add Comments:</h4>
    <textarea
      name="user-comment"
      id="user-comment"
      cols="90"
      rows="10"
      placeholder="What're your thoughts?"
      class="comment-textarea"
    ></textarea>
    <div class="comment-div">
      <button class="comment-button" id="<%= post._id %>">Comment</button>
    </div>
  </div>
</div>

<div class="comment-section">
  <h3>Comments</h3>
  <div class="comment-container">
    <% comments.forEach(function(comment){ %>
    <div class="comment">
      <div class="comment-details">
        <span class="commentAuthor"><%= comment.commentCreatorName %></span>
        <span class="commentDate"><%= comment.commentCreated %></span>
      </div>
      <div class="commentContent">
        <p><%= comment.commentContent %></p>
      </div>
      <br /><br />
      <% }) %>
    </div>
  </div>
</div>

<%- include("partials/footer.ejs") -%>