<%- include("partials/header.ejs") -%>
    <%- include("partials/navbar.ejs") -%>
        <div class="content-body">
            <%- include("partials/sidebar.ejs") -%>
                <div class="postBox">
                    <% posts.forEach(function(post){ %>
                        <div class="post <%= post._id %>">
                            <div class="post-details <%= post._id %>">
                                <span class="postTopic">
                                    <%= post.postTopic %>
                                </span>
                                <span class="postAuthor">
                                    <%= post.postCreatorName %>
                                </span>
                                <span class="postDate">
                                    <%= post.postCreated %>
                                </span>
                            </div>
                            <h2 class="postTitle"><a href="/post/<%= post._id %>">
                                    <%= post.postTitle %>
                                </a></h2>
                            <% if(post.postImage !='' ){ %>
                                <div class="postImage <%= post._id %>">
                                    <a href="/post/<%= post._id %>"><img src="<%= post.postImage %>" alt="post image"
                                            class="postImage"></a>
                                </div>
                            <% } else { %>
                                <div class="postContent <%= post._id %>">
                                    <p>
                                        <%= post.postContent %>
                                    </p>
                                </div>
                            <% } %>
                                        <form action="/post/<%= post._id %>/edit" method="GET">
                                            <button class="edit" id="<%= post._id %>">Edit post</button>
                                        </form>
                                        <button class="delete" id="<%= post._id %>">Delete post </button>

                        </div>
                        <% } ); %>
                </div>

                <div class="about-container">
                    <img src="/images/download.jpeg" width="200px">
                    <h1>
                        <%= user.username %>
                    </h1>
                    <br>
                    <label for="Change-image">Change image</label>
                    <input type="file" accept=".jpeg" id="fileInput" name="Change-image">

                    <br>


                    <input id="button" type="button" value="Change username">
                    <div id="fn" hidden>new username :
                        <input type="text" />
                        <button type="submit">save</button>
                    </div>

                    <br>
                    <input id="button2" type="button" value="Change password">
                    <div id="xd" hidden>new password :
                        <input type="text" />
                        <button type="submit">save</button>
                    </div>

                </div>
        </div>



        <%- include("partials/footer.ejs") -%>